body {
    display: block;
    overflow-x: hidden;
    padding-top: 70px;
}

nav {
    background-color: #EFC7C2;
    position: fixed;
}

.navbar-brand img {
    max-height: 50px;
}

.navbar-brand {
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 900;
    color: #3E6560;
}

nav ul li .nav-link,
nav ul li .nav-link:visited {
    color: #3E6560;
    font-size: 22px;
    margin: auto 10px;
}

nav ul li a:hover {
    color: #3E6560;
}

section {
    padding-top: 50px;
    padding-bottom: 50px;
}

section h1 {
    text-transform: uppercase;
    font-weight: 900;
    color: #3E6560;
    text-align: left;
    margin-bottom: 20px;
}

section p {
    font-size: 16px;
    font-weight: 300;
}

.btn-group {
    display: flex;
}

#hero .col {
    justify-content: center; 
    flex-direction: column;
    display: flex;
}
   
#hero .img-col {
    justify-content: flex-end; 
    margin-top: 100px;
}
   
#hero img {
    max-width: 130% !important;
    width: 130%;
}
   
#hero .card {
    box-shadow: 11px 7px 16px #f9f9f9;
    border: 0;
    text-align: center;
}
   
#hero .icon {
    width: 50px;
    height: 50px;
    margin-bottom: 20px;
}

#hero .button-social{
    border-radius: 50%;
    padding: 0.50rem 0.50rem;
}

#hero .button-linkedin{
    border-radius: 50%;
    padding: 0.50rem 0.50rem;
    background-color: #0077B5 !important;
}

#hero .button-github{
    border-radius: 50%;
    padding: 0.50rem 0.50rem;
    background-color: #6CC644 !important;
}

#features .features {
    margin-bottom: 50px;
}

#contact {
    text-align: center;
    background-color: #B65C3B;
    color: white;
}
   
#contact h1 {
    text-align: center;
    color: white;
}   
   
